body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 500 0 0 0;
    padding: 500 0 0 0;
    background: #f4f4f4;
    color: #333;
    padding-top: 70px; /* Increased padding to account for header height */
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed; /* Fix the header at the top */
    width: 100%; /* Ensure it spans the full width */
    top: 0; /* Align it at the top */
    left: 0; /* Align it to the left */
    z-index: 1000; /* Ensures it stays on top of other content */
}

header nav ul {
    list-style: none;
    padding: 0;
}

.poem-text {
    text-align: center; /* Ensures text is centered */
    width: 100%; /* Ensures the div takes full width */
    display: block; /* Ensures the div behaves as a block element */
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    padding: 10px 0px;
    background: #333;
    color: #fff;
    position: relative; /* Optional: Adjust as needed */
}

section {
    margin-bottom: 20px;
}
.day a {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 50px; /* Height of the rectangle */
    background-color: gray;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s;
}

.day a[data-poem="yes"] {
    background-color: black;
}

.day a:hover {
    background-color: darkgray;
}
.days {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px; /* Space between days */
}
