body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    padding-top: 50px; /* Added padding to prevent content from hiding under the fixed header */
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed; /* Fix the header at the top */
    width: 100%; /* Ensure it spans the full width */
    top: 0; /* Align it at the top */
    left: 0; /* Align it to the left */
    z-index: 1000; /* Ensures it stays on top of other content */
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    margin: 20px;
    padding: 20px;
    background: #fff;
    border: 1px solid #ccc;
}

footer {
    text-align: center;
    padding: 10px 0px;
    background: #333;
    color: #fff;
    position: relative; /* Optional: Adjust as needed */
}

section {
    margin-bottom: 20px;
}

.day a {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: gray;
    color: white;
    text-decoration: none;
}

.day a[data-poem="yes"] {
    background-color: black;
}

.day a:hover {
    background-color: darkgray;
}
.days-group {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.day {
    margin: 5px;
    padding: 10px;
    background-color: gray;
    color: white;
    flex: 1 0 20%; /* Ermöglicht, dass drei Elemente gleichmäßig verteilt sind */
}
